/* Fundo geral do site e ajustes de padding para o menu fixo */
body {
    background-color: #121212;
    /* Preto */
    color: #ffffff;
    /* Texto branco */
    padding-top: 56px;
    /* Espaço para o menu fixo */
}

/* Navbar */
.navbar {
    background-color: #1c1c1c !important;
    /* Cinza escuro - Use !important para sobrescrever Bootstrap */
}

.navbar-brand,
.nav-link {
    color: #ffffff !important;
    /* Texto branco - Use !important para sobrescrever Bootstrap */
}

.nav-link:hover {
    color: #e63946 !important;
    /* Vermelho ao passar o mouse - Use !important para sobrescrever Bootstrap */
}

.navbar-brand {
    font-weight: bold;
}

/* Cartões */
.card {
    transition: transform 0.2s;
    background-color: #1c1c1c;
    /* Fundo cinza escuro */
    color: #ffffff;
    /* Texto branco */
    border: 1px solid #e63946;
    /* Borda vermelha */
}

.card:hover {
    transform: scale(1.05);
    border-color: #f4a261;
    /* Dourado ao passar o mouse */
}

/* Botões */
.btn-primary {
    background-color: #e63946;
    /* Vermelho */
    border-color: #e63946;
}

.btn-primary:hover {
    background-color: #f4a261;
    /* Dourado */
    border-color: #f4a261;
}

/* Rodapé */
footer {
    background-color: #f8f9fa;
    /* Fundo branco */
    color: #000000;
    /* Texto preto */
    /* Remova position: relative; bottom: 0; width: 100%; se você não precisa de um posicionamento específico além do fluxo */
}

footer a {
    color: #000000;
    /* Links pretos */
}

footer a:hover {
    color: #e63946;
    /* Vermelho ao passar o mouse */
}

/* Botão "Voltar ao topo" */
#backToTop {
    background-color: #e63946 !important;
    /* Vermelho - Use !important para sobrescrever o estilo inline */
    color: #ffffff !important;
    /* Branco - Use !important para sobrescrever o estilo inline */
}

#backToTop:hover {
    background-color: #f4a261 !important;
    /* Dourado - Use !important para sobrescrever o estilo inline */
}

/* Media Queries */
@media (max-width: 768px) {
    body {
        padding-top: 70px;
        /* Ajuste para dispositivos móveis */
    }
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 1.2rem;
    }

    .card-title {
        font-size: 1.1rem;
    }

    .card-text {
        font-size: 0.9rem;
    }
}